name: Reusable Validation

on:
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    name: Code Quality (Ruff)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Ruff
        run: pip install ruff
      - name: Run Ruff Check
        run: ruff check .
      - name: Run Ruff Format
        run: ruff format --check .

  hassfest:
    name: Hassfest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Hassfest
        uses: home-assistant/actions/hassfest@master

  hacs:
    name: HACS
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: HACS validation
        uses: hacs/action@main
        with:
          category: integration
          ignore: brands
